:root {
  --primary-color: var(--foreground);
  --secondary-color: var(--secondary);
  --button-bg: var(--button-bg);
  --link-bg: var(--link-bg);
  --link-text: var(--link-text);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-button {
  background-color: var(--button-bg);
}

.bg-link {
  background-color: var(--link-bg);
}

.text-link-text {
  color: var(--link-text);
}